{% extends "base.html" %}

{% load i18n %}

{% block title %}Sign Out{% endblock title %}

{% block content %}

<!-- Log out page for a logged in user -->
<div class="container text-center">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <div class="card white-text">
        <div class="card-body">
          <div class="image-container">
            <h3>{% trans "Sign Out" %}</h3>
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-danger blue-white right" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}