{% extends "base.html" %}
{% load static %}

{% block title %}
{{ profile.user.username }}'s page
{% endblock title %}

{% block content %}

<div class="container margin-top">
    <div class="row">
        <div class="col">

            <!-- user profile picture that can be updated -->
            <div class="card white-text text-center">
                {% if "placeholder" in profile.user_image.url %}
                <img src="{% static 'images/who_person.webp' %}" class="profile-image rounded" alt="Placeholder User photo">
                {% else %}
                <img src="{{ profile.user_image.url }}" class="profile-image rounded" alt="{{ profile.user.username }}">
                {% endif %}
            </div>
        </div>
        <div class="col white-text text-center">
            <div class="card-body text-center">
                <div class="row row-gap-3">
                    <div class="col-4 p-2">
                        <h5 class="card-title user-title">
                            <u>{{ profile.user.username | upper }}'s page</u>
                        </h5>
                    </div>

                    <!-- If the user is logged in it'll show these buttons, if not it'll only show
                        the user list button -->
                    {% if request.user.is_authenticated %}
                    <!-- If the logged in user is on their own page they see the update button -->
                    {% if request.user == profile.user %}
                    <div class="col p-2">
                        <a href="{% url 'update_profile' profile.pk %}">
                            <div class="btn all-users-button blue-white">Update Profile</div>
                        </a>
                    </div>

                    <!-- If the user is on another persons profile, it will show the follow or unfollow button
                        and the user list button -->
                    {% else %}
                    <div class="col p-2">
                        <form method="post">
                            {% csrf_token %}
                            {% if profile in user.socials.follows.all %}
                            <button class="btn all-users-button blue-white" name="follow" value="unfollow">Unfollow</button>
                            {% else %}
                            <button class="btn all-users-button blue-white" name="follow" value="follow">Follow</button>
                            {% endif %}
                        </form>
                    </div>
                    {% endif %}
                    <div class="col p-2">
                        <a href="{% url 'social_profiles' %}">
                            <div class="btn all-users-button blue-white">User List</div>
                        </a>
                    </div>
                    {% else %}
                    <div class="col p-2">
                        <a href="{% url 'social_profiles' %}">
                            <div class="btn all-users-button blue-white">User List</div>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <hr>

            <!-- Shows the users favourite pokemon that the user can update on their own profile -->
            <h4 class="margin-top"><u>Favourite Pokémon:</u></h4>
            {% if profile.fav_pokemon.name == "???" %}
            <img class="default-pokemon rounded" src="{% static 'images/who_pokemon.webp' %}" alt="Pokémon placeholder">
            {% else %}
            <a href="https://pokemondb.net/pokedex/{{ profile.fav_pokemon.name }}" target="_blank" rel="noopener" class="post-link white-text">
            <p class="fw-bold p-3">{{ profile.fav_pokemon.name }}</p>
            <img class="post-image" src="{{ profile.fav_pokemon.image }}" alt="Favourite Pokémon">
            </a>
            {% endif %}
        </div>
    </div>

    <!-- Shows 2 lists of people that follows the user and people that the user follows. If the user
        doesn't follow anyone or has no followers, it'll show a message instead -->
    <div class="row margin-top">
        <div class="col text-center">
            <div class="card white-text">
                <h4><u>Follows:</u></h4>
                {% if profile.follows.count == 0 %}
                <p class="fw-bold p-3">{{ profile.user.username }} isn't following anyone</p>
                {% else %}
                <ul class="list-group list-group-flush">
                    {% for following in profile.follows.all %}
                    <li class="list-group-item"><a class="follows white-text blue-white"
                            href="{% url 'profile' following.user.pk %}">{{ following }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="col text-center">
            <div class="card white-text">
                <h4><u>Followers:</u></h4>
                {% if profile.followed_by.count == 0 %}
                <p class="fw-bold p-3">{{ profile.user.username }} has no followers</p>
                {% else %}
                <ul class="list-group list-group-flush">
                    {% for follower in profile.followed_by.all %}
                    <li class="list-group-item"><a class="follows white-text blue-white"
                            href="{% url 'profile' follower.user.pk %}">{{ follower }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <!-- Shows all the comments that the user has made, and a message if the user hasn't yet -->
        <div class="col-md-6 text-center">
            <div class="card white-text">
                <h4><u>Comments:</u></h4>
                {% if profile.user.commenter.exists %}
                {% for comment in profile.user.commenter.all %}
                <a href="{% url 'post_detail' comment.post.slug %}" class="white-text comment-link p-3">
                    <div class="fw-bold">{{ comment.post.title }}</div>
                    <div class="p-3">
                        {{ comment.body }} | <span class="fst-italic">{{ comment.created_on }}</span>
                    </div>
                </a>
                <hr>
                {% endfor %}
                {% else %}
                <div class="fw-bold p-3">
                    <p>{{ profile.user.username }} hasn't commented yet</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Button to delete user profile -->
    {% if request.user == profile.user %}
    <div class="text-center margin-top">
        <button class="btn btn-delete blue-white white-text margin-top" user_id="{{ profile.user.pk }}">
            Delete Your Profile?
        </button>
    </div>
    {% else %}
    {% endif %}
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete your profile?</h5>
                <button type="button" class="btn-close blue-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your profile?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary blue-white" data-bs-dismiss="modal">Cancel</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger blue-white">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- This connects to a specific JavaScript file -->
{% block javascript %}
<script src="{% static 'js/delete_profile.js' %}"></script>
{% endblock javascript %}