{% extends "base.html" %}
{% load static %}

{% block title %}
{% if user.is_authenticated %}
{{ user.username }}'s socials
{% else %}
Oak's socials
{% endif %}
{% endblock title %}

{% block content %}

<!-- Button that stays on the screen to go back to the top of the page -->
<button onclick="topFunction()" id="top-button" title="Go back to the top">Back up</button>

<!-- If user is logged in, it'll show the users and the comments from users the user follows -->
{% if request.user.is_authenticated %}
<div class="container-fluid margin-top">
    <div class="row row-reverse white-text">
        <div class="col-sm-6">

            <!-- Shows all user profiles -->
            <h3 class="text-center margin-bottom"><u>All user profiles:</u></h3>
            {% for profile in profiles %}
            <a href="{% url 'profile' profile.user.pk %}" class="social-link">
                <div class="card mb-3 social-card white-text">
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% if "placeholder" in profile.user_image.url %}
                            <img src="{% static 'images/who_person.webp' %}" class="img-fluid rounded"
                                alt="Placeholder User photo">
                            {% else %}
                            <img src="{{ profile.user_image.url }}" class="img-fluid rounded"
                                alt="{{ profile.user.username }}">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h1 class="card-title"><u>{{ profile.user.username }}</u></h1>
                                <p class="card-text fs-5">{{ profile.user.username }}'s favourite pokemon: </p>
                                <p class="card-text">{{ profile.fav_pokemon.name }}</p>
                                <p>
                                    Follows : {{ profile.follows.count }} | Followers : {{ profile.followed_by.count }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <!-- Comments that are made by the people that the user is following sorted by newest first. -->
        <div class="col-sm-6 text-center">
            <h3 class="margin-bottom"><u>Comments from users you follow:</u></h3>
            <div class="card">
                {% if followed_users.count != 0 %}
                {% for comment in comments|dictsortreversed:"created_on" %}
                <a href="{% url 'post_detail' comment.post.slug %}" class="white-text comment-link p-3">
                    <div class="fw-bold">{{ comment.post.title }}</div>
                    <div class="p-3">
                        {{ comment.body }} | <span class="fst-italic">{{ comment.author }}</span>
                    </div>
                </a>
                <hr>
                {% endfor %}
                {% else %}
                <div class="fw-bold p-3 white-text margin-bottom">
                    <p>Start following people to see their comments</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- If the user isnt logged in, it'll show a message that the user should log in. And shows all users -->
{% else %}
<div class="container-fluid margin-top">
    <div class="row white-text">
        <h3 class="text-center margin-bottom">
            <a class="link white-text" href="{{ signup_url }}">Create a profile</a> or 
            <a class="link white-text" href="{{ login_url }}">sign in</a> to follow all comments from your friends
        </h3>
        <h3 class="text-center margin-bottom"><u>All user profiles:</u></h3>
        {% for profile in profiles %}
        <div class="col-sm-6 col-lg-4">
            <a href="{% url 'profile' profile.user.pk %}" class="social-link">
                <div class="card mb-3 social-card white-text">
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% if "placeholder" in profile.user_image.url %}
                            <img src="{% static 'images/who_person.webp' %}" class="img-fluid rounded"
                                alt="Placeholder User photo">
                            {% else %}
                            <img src="{{ profile.user_image.url }}" class="img-fluid rounded"
                                alt="{{ profile.user.username }}">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h1 class="card-title"><u>{{ profile.user.username }}</u></h1>
                                <p class="card-text fs-5">{{ profile.user.username }}'s favourite pokemon: </p>
                                <p class="card-text">{{ profile.fav_pokemon.name }}</p>
                                <p>
                                    Follows : {{ profile.follows.count }} | Followers : {{ profile.followed_by.count }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock content %}

<!-- This connects to a specific JavaScript file -->
{% block javascript %}
<script src="{% static 'js/top_button.js' %}"></script>
{% endblock javascript %}