{% extends "base.html" %}
{% load static %}

{% block title %}
{% if user.is_authenticated %}
{{ user.username }}'s socials
{% else %}
Oak's socials
{% endif %}
{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        {% for profile in profiles %}
        <div class="col">
            <a href="{% url 'profile' profile.user.pk %}" class="social-link">
                <div class="card mb-3 social-card white-text">
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% if "placeholder" in profile.user_image.url %}
                            <img src="{% static 'images/who_person.webp' %}" class="img-fluid rounded-start"
                                alt="Placeholder User photo">
                            {% else %}
                            <img src="{{ profile.user_image.url }}" class="img-fluid rounded-start"
                                alt="{{ profile.user.username }}">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><u>{{ profile.user.username }}</u></h5>
                                <p class="card-text fs-5">{{ profile.user.username }}'s favourite pokemon is : </p>
                                <p class="card-text">{{ profile.fav_pokemon.name }}</p>
                                <p>Follows : {{ profile.follows.count }} | Followers : {{ profile.followed_by.count }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}