body {
    font-family: "IBM Plex Sans", sans-serif;
}


/* ----------------------- Colour changes ---------------------- */

.navbar a,
.navbar-nav .nav-link.active,
.link,
.fa-bars {
    color: white;
}

.navbar a:hover,
.link:hover,
.navbar-nav .nav-link.active:hover,
.post-link:hover {
    color: #4566ad;
}

.post-link {
    text-decoration: none;
    color: white;
}

footer p a:hover {
    color: #E84610;
}

footer p,
footer p a {
    color: black;
}

.h6 {
    color: rgb(158, 158, 158);
}

.textarea.form-control {
    background-color: rgb(228, 228, 228);
}

.page-link:hover {
    background-color: #4566ad;
    color: white;
}

.masthead-text {
    background-color: #4566ad;
    color: white;
    position: relative;
}

.post-subtitle {
    margin-left: 5%;
    color: rgb(209, 209, 209);
}

.btn-delete {
    color: white;
    background: #E84610;
    padding: 6px 13px;
    border: none;
}

.btn-edit {
    color: white;
    background: #198754;
    padding: 6px 22px;
    border: none;
}

.btn-delete:hover,
.btn-edit:hover,
.btn-success:hover {
    border: none;
    background-color: #4566ad;
    color: white;
}

.modal-content {
    background-color: #f3d044;
    border: #4566ad solid 10px;
}

.modal-content button:hover,
.modal-content .btn-danger:hover {
    background-color: #4566ad; 
}


/* ------------------------- Other changes ---------------------------- */

main {
    margin: 0 10px;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
}

.navbar-brand {
    font-size: 100%;
    padding: 0 15px 0 20px;
}

.navbar-toggler {
    line-height: 0;
    color: rgba(150, 23, 23, 0.466);
    padding-right: 15px;
    border: none;
    font-size: 100%;
}

.nav-image {
    width: 180px;
    height: auto;
    margin-right: 20px;
}

.alert-dismissible,
.badge {
    margin-top: 10px;
}

.card {
    border: white solid 2px;
    background-color: transparent;
    padding: 5px;
    margin: 10px;
    color: white;
}

.card-title {
    font-size: 120%;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #4566ad;
    padding: 0 5px;
    border-radius: 5px;
}

.author {
    color: white;
    font-weight: 550;
    margin: 4px;
    text-transform: uppercase;
}

.page-link {
    border-radius: 8px;
    margin: 5px 15px;
    padding: 2px 20px;
    font-size: 130%;
    border: none;
}

.btn {
    border: none;
}

.scale {
    width: 100%;
    height: auto;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.signup button {
    margin-bottom: 20px;
}

.signup label {
    display: none;
}

li {
    list-style-type: none;
}

/* Media query: tablet and larger (500px and up) */

@media screen and (min-width: 500px) {
    .navbar-brand,
    .navbar-toggler {
        font-size: 2.5vmin;
    }

    .card-title {
        font-size: 170%;
    }

    .page-link {
        margin: 15px 25px;
        padding: 5px 35px;
        font-size: 170%;
    }
}