/* -------------------------- colors -------------------------- */

.navbar a,
.navbar-nav .nav-link.active,
.white-text {
    color: white;
}

.navbar a:hover,
.link:hover,
.navbar-nav .nav-link.active:hover,
.post-link:hover {
    color: #4566ad;
    transition: all 0.4s ease-out;
}

.blue-white:hover,
.masthead-text {
    background-color: #4566ad;
    color: white;
}

.h6 {
    color: rgb(158, 158, 158);
}

.textarea.form-control {
    background-color: rgb(228, 228, 228);
}

.modal-content {
    background-color: #f3d044;
    border: #4566ad solid 10px;
}

#top-button:hover {
    background-color: #4566ad;
    border: #f3d044 solid 5px;
    color: white;
    transition: all 0.4s ease-out;
}

.list-group {
    --bs-list-group-bg: transparent;
}

footer p,
footer p a {
    color: black;
}

footer p a:hover {
    color: #E84610;
    transition: all 0.2s ease-out;
}


/* ------------------------- Base html ------------------------ */

body {
    font-family: "IBM Plex Sans", sans-serif;
}

main {
    margin: 0 10px;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
}

.navbar-brand {
    font-size: 100%;
    padding: 0 15px 0 20px;
}

.navbar-toggler {
    line-height: 0;
    color: rgba(150, 23, 23, 0.466);
    padding-right: 15px;
    border: none;
    font-size: 100%;
}

.nav-image {
    width: 180px;
    height: auto;
    margin-right: 20px;
    transition: 1s ease;
}

.nav-image:hover,
.post-image:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 1s ease;
}

.alert-dismissible,
.badge,
.user-title {
    margin-top: 10px;
}


/* ------------------------- Index html ------------------------ */

.post-link,
.social-link,
.follows {
    text-decoration: none;
}

.card {
    margin-top: 15px;
    border: none;
    background-color: transparent;
}

.card-body {
    padding-top: 0;
}

.card-title {
    font-size: 120%;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    top: -5%;
    left: -15px;
    background-color: white;
    padding: 0 2px;
    border-radius: 5px;
    font-size: 90%;
}

.author {
    color: black;
    font-weight: 600;
    margin: 4px;
    text-transform: uppercase;
}

.page-link {
    border-radius: 8px;
    margin: 5px 15px;
    padding: 2px 20px;
    font-size: 130%;
    border: none;
}

.btn,
.btn:hover {
    border: none;
}

.btn:hover {
    transition: all 0.4s ease-out;
}


/* ---------------------- post_detail html --------------------- */

.masthead-text {
    position: relative;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    margin-bottom: 15px;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: rgb(209, 209, 209);
}

.scale {
    width: 100%;
    height: auto;
}

.btn-delete {
    background: #E84610;
    padding: 6px 13px;
    border: none;
}

.btn-edit {
    background: #198754;
    padding: 6px 22px;
    border: none;
}


/* ----------------------- database html ----------------------- */

#card-pokemon {
    margin: 20px;
    width: 400px;
    height: auto;
}

#card-pokemon img {
    width: 200px;
    height: auto;
}

.poke-name {
    font-size: 110%;
}

#top-button {
    background-color: #f3d044;
    border: #4566ad solid 5px;
    color: black;
    font-weight: 600;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}


/* ----------------------- socials html ------------------------ */

.social-card {
    min-width: 500px;
    max-width: 550px;
    height: auto;
}

.social-card:hover {
    color: #4566ad;
    -webkit-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
    transition: 0.5s ease;
}

.user-picture {
    height: auto;
    max-width: 400px;
}


/* ----------------------- profile html ------------------------ */

.all-users-button {
    background-color: white;
    color: #4566ad;
    font-size: 110%;
    font-weight: 600;
    margin-top: 10px;
}

.follows:hover {
    border-radius: 5px;
    padding: 3px 8px;
    transition: all 0.1s ease-out;
}


/* ---------------- signin/ signup/ logout html ---------------- */

.signup button {
    margin-bottom: 20px;
}

.signup label {
    display: none;
}

li {
    list-style-type: none;
}


/* -------- Media query: tablet and larger (500px and up) ------*/

@media screen and (min-width: 500px) {

    .navbar-brand,
    .navbar-toggler {
        font-size: 2.5vmin;
    }

    .card-title {
        font-size: 170%;
    }

    .page-link {
        margin: 15px 25px;
        padding: 5px 35px;
        font-size: 170%;
    }
}