{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Post main image and title -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">Author : {{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6">
                {% if "placeholder" in post.featured_image.url %}
                <img src="{% static 'images/International_Pokémon_logo.svg.png' %}" class="scale"
                    alt="placeholder image">
                {% else %}
                <img src="{{ post.featured_image.url }}" class="scale" alt="{{ post.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Button that stays on the screen to go back to the top of the page -->
<button onclick="topFunction()" id="top-button" title="Go back to the top">Back up</button>

<div class="container">
    <!-- Displaying count of comments -->
    <div class="row">
        <div class="text-center">
            <strong class="text-secondary">
                {{ comment_count }} <i class="far fa-comments"></i>
            </strong>
        </div>
    </div>

    <!-- Displays the full blog post -->
    <div class="row">
        <div class="col card mb-4  mt-3 left top white-text">
            <div class="card-body">
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>

    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-sm-6 card mb-4 mt-3 text-center white-text">
            <h1 class="fs-3">Comments:</h1>
            <div class="card-body">
                {% if comments.count != 0 %}
                {% for comment in comments %}
                <div class="p-2 comments {% if not comment.approved and comment.author == user %}
                            {% elif not comment.approved %}d-none{% endif %}">
                    <a href="{% url 'profile' comment.author.pk %}" class="white-text comment-link">
                        <p class="fst-italic fw-light">
                            {{ comment.author }} |
                            {{ comment.created_on }}
                        </p>
                        <div class="fw-medium" id="comment{{ comment.id }}">
                            {{ comment.body | linebreaks }}
                        </div>
                    </a>
                    {% if user.is_authenticated and comment.author == user %}
                    <button class="btn btn-delete blue-white white-text" comment_id="{{ comment.id }}">Delete</button>
                    <button class="btn btn-edit blue-white white-text" comment_id="{{ comment.id }}">Edit</button>
                    {% endif %}
                    <hr>
                </div>
                {% endfor %}
                {% else %}
                <h4 class="text-center">This post has no comments yet</h4>
                {% endif %}
            </div>
        </div>

        <!-- Creating New Comments -->
        <div class="col-sm-6 card mb-4 mt-3 white-text text-center">
            <h1 class="fs-3">Leave a comment:</h1>
            <div class="card-body">
                {% if user.is_authenticated %}
                <p>Posting as : {{ user.username }}</p>
                <form id="commentForm" method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-success blue-white btn-lg">Submit</button>
                </form>
                {% else %}
                <h1 class="fs-4"><a class="link white-text" href="{{ login_url }}">Sign in</a> or 
                    <a class="link white-text" href="{{ signup_url }}">sign up</a> to leave a comment</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close blue-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary blue-white" data-bs-dismiss="modal">Cancel</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger blue-white">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- This connects to a specific JavaScript file -->
{% block javascript %}
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/top_button.js' %}"></script>
{% endblock javascript %}