{% extends "base.html" %}

{% block title %}Error 403{% endblock title %}

{% block content %}

<!-- error 404 forbidden -->
<div class="container text-center">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <div class="card white-text">
        <div class="card-body">
          <h2>Error 403 Forbidden</h2>
          <h5 class="margin-top">Sorry, you don't have permission to access this server.</h5>
          <h5><a href="{% url 'home' %}" class="link white-text">Click here</a> to return back to the main page.</h5>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}