{% load static %}

{% url 'home' as home_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Meta tags for search engines-->
    <meta name="description"
        content="Prof Oak's Blog | A social Pokemon blog and Pokemon database | Read articles, communicate with friends and look through the pokemon database">
    <meta name="keywords"
        content="Prof Oak's Blog, Pokemon, Blog, Database, Communicate, message, articles, fun, learn about pokemon">

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Favicon -->

    <title>Prof Oak's Blog</title>
</head>

<body class="d-flex flex-column h-100 bg-black">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-danger">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Prof Oak's Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa-solid fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                            href="#">Blog</a>
                    </li>
                    <li>
                        <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                            href="#">Database</a>
                    </li>
                    <li>
                        <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                            href="#">Profile</a>
                    </li>
                </ul>
                <span>
                    <img class="nav-image" src="/static/images/International_Pokémon_logo.svg.png" alt="Pokemon logo">
                </span>
            </div>
        </div>
    </nav>

    <main class="flex-shrink-0 main-bg bg-black">

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-white">
        <p class="m-0 text-center"><i class="fa-regular fa-copyright"></i> Copy Right</p>
        <p class="m-0 text-center">More Pokémon websites :
            <a href="https://www.pokemon.com/" target="_blank" rel="noopener"
                aria-label="Visit the official pokemon website">Official Pokémon</a> |
            <a href="https://www.pokemoncenter.com/" target="_blank" rel="noopener"
                aria-label="Visit the official pokemoncenter website">Pokémon Center</a> |
            <a href="https://bulbapedia.bulbagarden.net/wiki/Main_Page" target="_blank" rel="noopener"
                aria-label="Visit the pokemon wikipedia website">Bulbapedia</a>
        </p>
    </footer>

    <script src="https://kit.fontawesome.com/98d2045231.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    </script>
</body>

</html>