{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- database.html content starts here -->
<div class="container text-center">
    <div class="row justify-content-md-center">

        <!-- Pokedata column -->
        {% for i in pokedatabase_list %}
            <div id="card-pokemon" class="col">
                <div class="card">
                    <img class="mx-auto d-block" src="{{ i.image }}" alt="{{ i.name }}">
                    <div class="card-body">
                        <div>
                            <h5 class="poke-name badge text-bg-light">{{ i.name }}</h5>
                        </div>
                        <p class="card-text">
                            Id : {{ i.poke_id }}<br>
                            Type : {{ i.poke_type }}<br>
                            Height : {{ i.height }}<br>
                            Weight : {{ i.weight }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<button onclick="topFunction()" id="top-button" title="Go back to the top">Back up</button>

<!-- database.html content ends here -->
{% endblock %}

<!-- This connects to a specific JavaScript file -->
{% block extras %}
<script src="{% static 'js/top_button.js' %}"></script>
{% endblock %}
